* {
  padding: 0;
  margin: 0;
  font-family: Inter;
}

body {
  background-color: #161313;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #5da9e9;
}

::-webkit-scrollbar-thumb:hover {
  background: #4884b5;
}

@media screen and (max-width: 1100px) {
  .search {
    display: none;
  }
}

.search {
  width: 600px;
  height: 36px;
  border-radius: 4px;
  text-align: center;
  background-color: #d9d9d9;
  border: 0;
}

.search:focus::placeholder {
  color: transparent;
}

.search:hover {
  background-color: #b2b2b2;
}

.search:focus {
  background-color: b2b2b2;
  border: 0;
  outline: 2px solid #5da9e9;
  color: #01357a;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #1f1f1f;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.5));
}

.logo {
  width: 129px;
  height: 24px;
  margin-left: 30px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #9197ae;
}

.bigImg {
  height: 450px;
  object-fit: cover;
  width: 100vw;
  max-width: 100%;
  opacity: 0;
  animation: appear 1s forwards;
}

.game-card {
  width: 250px;
  text-align: start;
  margin-top: 64px;
  margin-bottom: 64px;
  opacity: 0;
  animation: appear 1s forwards;
}

@keyframes appear {
  to {
    opacity: 1;
    transform: initial;
  }
}

.game-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 4px;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  animation: toLeft 0.3s forwards;
  transform: translate(-2000px);
}

@keyframes toLeft {
  to {
    transform: initial;
  }
}

.game-title {
  font-weight: 700;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

p,
h2 {
  color: #eff6ee;
}

.game-plat {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 4px;
}

.game-price {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-top: 4px;
}

.buy-btn {
  width: 250px;
  height: 42px;
  background-color: transparent;
  border: 2px solid #5da9e9;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  color: #5da9e9;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.buy-btn:hover {
  background-color: #5da9e9;
  color: white;
}

.buy-btn:active {
  background-color: #3b79ad;
}

@media screen and (max-width: 900px) {
  .modal-container {
    display: flex !important;
    flex-direction: column !important;
    align-content: center !important;
  }
  .modal-title {
    align-self: center !important;
  }
  .modal-image {
    align-self: center !important;
  }
  .game-desc {
    align-self: center !important;
    width: 90vw !important;
  }
  .modal-map {
    align-self: center !important;
  }
  .buy-modal {
    align-self: center !important;
  }
}

.modal-container {
  display: grid;
  justify-items: center;
  grid-template-columns: auto-fill 1fr;
}

.modal-title {
  margin-bottom: 2rem;
  font-size: 2rem;
  grid-area: 2 / 1;
}

.modal-image {
  border-radius: 12px;
  padding: 5px;
  grid-area: 2 / 2 / 4 / 2;
  align-self: center;
  justify-self: center;
  height: 340px;
  max-width: 400px;
}

.buy-modal {
  width: 260px;
  height: 64px;
  background-color: #01357a;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  grid-area: 5 / 1;
  margin-left: 10px;
  justify-self: start;
  transition: background-color 0.5s ease, color 0.5s ease, width 0.5s ease;
}

.buy-modal:hover {
  width: 320px;
  background-color: transparent;
  border: 2px solid #01357a;
  color: #01357a;
}

.close-modal {
  padding: 5px;
  font-weight: 700;
  border: 1px solid gray;
  color: gray;
  background-color: transparent;
  justify-self: end;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  border-radius: 4px;
  cursor: pointer;
  grid-area: 1 / 1;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.close-modal:hover {
  background-color: gray;
  color: white;
}

.modal-map {
  margin-top: 10px;
  grid-area: 5 / 2;
  justify-self: center;
  align-self: end;
  margin-right: 10px;
}

.game-desc {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  width: 30vw;
  padding: 10px;
  line-height: 24px;
  grid-area: 3 / 1;
  align-self: start;
  justify-self: center;
  text-align: left;
  color: #aaa;
  font-style: italic;
}

strong {
  color: white;
}

.stores {
  color: #3f3f3f;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
